<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SparklineUsers"
            connectionString="Data Source=pine.arvixe.com;Initial Catalog=SJS_SparklineUsers;Persist Security Info=True;User ID=SAAdmin;Password=okState#123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>